<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Innovations in stroke identification: A machine learning based diagnostic model using Neuro images</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <a href="#" class="logo me-auto me-lg-0"><img src="/static/img/icons8-stroke-64.png" alt="" class="img-fluid">Stroke Identification</a>
          <!-- <h1 class="logo me-auto me-lg-0"><a href="#">Stroke Identification</a></h1> -->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              {% block navbar %}
                <li><a class="nav-link scrollto active" href="{{url_for('index')}}" style="color: yellow;">Home</a></li>
                <li><a class="nav-link scrollto" href="{{url_for('register')}}">Register</a></li>
                <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
              {% endblock %}            
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
        </div>
      </div>

    </div>
  </header>

  {% block content %}
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h1>WELCOME!</h1>
            <h2>Innovations in Stroke Identification: A Machine Learning based Diagnostic Model using Neuro Images</h2>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}

  {% if message %}
    <script>
      alert("{{ message }}")        
    </script>
  {% endif %}

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="/static/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>